<a href="https://colab.research.google.com/github/ashokgupta1810/fsdspro/blob/main/20th_Aug_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### TOPIC: String Based Assignment Problem

In [ ]:
'''1. Write a program to reverse a string.'''
string = 'Bangalore'
#1
rev_string = string[::-1]
print("1st way by reverse jump:", rev_string)
#2
rev_string=""
for s in string:
  rev_string = s+rev_string
print("2nd way by loop:", ''.join(rev_string))
#3
rev_string=[string[i] for i in range(len(string)-1,-1,-1)]
rev_string=''.join(rev_string)
print("3rd way by loop:", ''.join(rev_string))

1st way by reverse jump: erolagnaB
2nd way by loop: erolagnaB
3rd way by loop: erolagnaB

In [ ]:
'''2. Check if a string is a palindrome.'''
string = 'BsangagnasB'
#1
if string[::-1]==string:
  print(f"{string} is palindrome")
else:
  print(f"{string} is not a palindrome")
#2
for i in range(int(len(string)/2)):
  if string[i]==string[len(string)-i-1]:
    continue
  else:
    break
if i==int(len(string)/2)-1:
  print(f"{string} is palindrome")
else:
  print(f"{string} is not a palindrome")

BsangagnasB is palindrome
BsangagnasB is palindrome

In [ ]:
'''3. Convert a string to uppercase.'''
string = 'Bangalore'
upper_string = string.upper()
print(f"upper case: {upper_string}")

upper case, BANGALORE

In [ ]:
'''4. Convert a string to lowercase.'''
string = 'Bangalore'
lower_string = string.lower()
print(f"lower case: {lower_string}")

lower case: bangalore

In [ ]:
'''5. Count the number of vowels in a string.'''
string = 'Bangalore'
vowel = [v for v in string if v in 'aeiou']
print(f"Count of vowels in string {string} is {len(vowel)}")

Count of vowels in string Bangalore is 4

In [ ]:
'''6. Count the number of consonants in a string.'''
string = 'Bangalore'
consonants = [v for v in string if v not in 'aeiou']
print(f"Count of consonants in string {string} is {len(consonants)}")

Count of consonants in string Bangalore is 5

In [ ]:
'''7. Remove all whitespaces from a string.'''
string = 'Bangalore is nice city'
print(f"""Originial string "{string}" and without space string is: "{string.replace(' ',"")}" """)

Originial string "Bangalore is nice city" and without space string is: "Bangaloreisnicecity"

In [ ]:
'''8. Find the length of a string without using the `len()` function.'''
string = 'Bangalore is nice city'
l=0
for s in string:
  l=l+1
print(f"Length of string: {l}")

Length of string: 22

In [ ]:
'''9. Check if a string contains a specific word.'''
string = 'Bangalore is nice city'
spec_word="nice"
if string.find(spec_word)>-1:
  print(f"{spec_word} exists in string: {string}")
else:
  print(f"{spec_word} does not exists in string: {string}")
#2
if spec_word in string:
  print(f"{spec_word} exists in string: {string}")
else:
  print(f"{spec_word} does not exists in string: {string}")

nice exists in string: Bangalore is nice city
nice exists in string: Bangalore is nice city

In [ ]:
'''10. Replace a word in a string with another word.'''
string = 'Bangalore word is nice city'
print(f'''New string after replace is: {string.replace("word", "another word")}''')

New string after replace is: Bangalore another word is nice city

In [ ]:
'''11. Count the occurrences of a word in a string.'''
string = 'Bangalore word is nice word city'
spec_word="word"
occ = [word for word in string.split(" ") if word==spec_word]
print(f'''{spec_word} occurs {len(occ)} times in string: {string}''')

word occurs 2 times in string: Bangalore word is nice word city

In [ ]:
'''12. Find the first occurrence of a word in a string.'''
string = 'Bangalore word is nice word city'
spec_word="word"
print(f"First occurance of word '{spec_word}' in string '{string}' is {string.find(spec_word)} ")

First occurance of word 'word' in string 'Bangalore word is nice word city' is 10

In [ ]:
'''13. Find the last occurrence of a word in a word string.'''
string = 'Bangalore word is nice word city'
spec_word="word"
print(f"First occurance of word '{spec_word}' in string '{string}' is {string.rfind(spec_word)} ")

First occurance of word 'word' in string 'Bangalore word is nice word city' is 23

In [ ]:
'''14. Split a string into a list of words.'''
string = 'Bangalore word is nice word city'
spec_word="word"
print(f"Words in string '{string}' are {string.split(' ')} ")

Words in string 'Bangalore word is nice word city' are ['Bangalore', 'word', 'is', 'nice', 'word', 'city']

In [ ]:
'''15. Join a list of words into a string.'''
words=['Bangalore', 'word', 'is', 'nice', 'word', 'city']
string = ' '.join(words)
print(f"String is {string}")

String is Bangalore word is nice word city

In [ ]:
'''16. Convert a string where words are separated by spaces to one where words are separated by underscores.'''
string = 'Bangalore word is nice word city'
new_string=string.replace(' ','_')
print(f"New string is'{new_string}'")

New string is'Bangalore_word_is_nice_word_city'

In [ ]:
'''17. Check if a string starts with a specific word or phrase.'''
string = 'Bangalore word is nice word city'
spec_word ="SB"
if string.startswith(spec_word):
  print(f"{string} starts with word {spec_word}")
else:
    print(f"{string} does not starts with word {spec_word}")

Bangalore word is nice word city does not starts with word SB

In [ ]:
'''18. Check if a string ends with a specific word or phrase.'''
string = 'Bangalore word is nice word city'
spec_word ="city"
if string.endswith(spec_word):
  print(f"{string} ends with word {spec_word}")
else:
    print(f"{string} does not ends with word {spec_word}")

Bangalore word is nice word city ends with word city

In [ ]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''
string = 'Bangalore word is nice word city'
print(f"Title case string is {string.title()}")

Title case string is Bangalore Word Is Nice Word City

In [ ]:
'''20. Find the longest word in a string.'''
string = 'Bangalore word is nice word city'
print(f"longest word in string {max(string.split(' '), key=len)}")

longest word in string Bangalore

In [ ]:
from IPython.core.inputtransformer2 import leading_empty_lines
'''21. Find the shortest word in a string.'''
string = 'Bangalore word is nice word city'
print(f"shortest word in string {min(string.split(' '), key=len)}")

shortest word in string is

In [ ]:
'''22. Reverse the order of words in a string.'''
string = 'Bangalore word is nice word city'
string_lst = string.split()
string_lst.reverse()
print(f"Reversed string is {' '.join(string_lst)}")

Reversed string is city word nice is word Bangalore

In [ ]:
'''23. Check if a string is alphanumeric.'''
string = 'Bangalore word is nice word city'
print(f"Is string alphanumeric: {string.isalnum()}")

Is string alphanumeric: False

In [ ]:
'''24. Extract all digits from a string.'''
string = 'Bangalore 001 word is nice word city'
num = [int(n) for n in string if n.isdigit()==True]
print(f"Avilable digits:{set(num)}")

Avilable digits:{0, 1}

In [ ]:
'''25. Extract all alphabets from a string.'''
string = 'Bangalore 001 word is nice word city'
chars = [n for n in string if n.isdigit()==False and n!=' ']
print(f"Avilable alphas:{set(chars)}")

Avilable alphas:{'n', 's', 'B', 'r', 'a', 't', 'e', 'w', 'i', 'y', 'l', 'c', 'g', 'o', 'd'}

In [ ]:
'''26. Count the number of uppercase letters in a string.'''
string = 'Bangalore 001 word is nice word city'
chars = [n for n in string if n.isdigit()==False and n.isupper()==True]
print(f"Count of Upper Case alphas:{len(chars)}")

Count of Upper Case alphas:1

In [ ]:
'''27. Count the number of lowercase letters in a string.'''
string = 'Bangalore 001 word is nice word city'
chars = [n for n in string if n.isdigit()==False and n.islower()==True]
print(f"Count of lower case alphas:{len(chars)}")

Count of lower case alphas:26

In [ ]:
'''28. Swap the case of each character in a string.'''
string = 'Bangalore 001 word is nice word city'
chars = [n.upper() if n.isupper()==False else n.lower() for n in string]
print(f"Reverse Casing :{''.join(chars)}")

Reverse Casing :bANGALORE 001 WORD IS NICE WORD CITY

In [ ]:
'''29. Remove a specific word from a string.'''
string = 'Bangalore 001 word is nice word city'
spec_string="word"
new_string = [n for n in string.split(' ') if n!=spec_string]
print(f"New String: {' '.join(new_string)}")

New String: Bangalore 001 is nice city

In [ ]:
'''30. Check if a string is a valid email address.'''
import re
string='ashok@gmail.com'
pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
if re.match(pat, string):
  print("Valid email")
else:
   print("Invalid email")

Valid email

In [ ]:
'''31. Extract the username from an email address string.'''
string ='ashok@gmail.com'
user_name = string.split('@')[0]
user_name

'ashok'

In [ ]:
'''32. Extract the domain name from an email address string.'''
string ='ashok@gmail.com'
domain = string.split('@')[1]
domain

'gmail.com'

In [ ]:
'''33. Replace multiple spaces in a string with a single space.'''
import re
string = 'ashok is  working in  it'
re.sub(' +',' ', string)

'ashok is working in it'

In [ ]:
'''34. Check if a string is a valid URL.'''
string = 'abc.com'

In [ ]:
'''35. Extract the protocol (http or https) from a URL string.'''
string = 'http:\\abc.com'
string.split(":")[0]

'http'

In [ ]:
'''36. Find the frequency of each character in a string.'''
string = 'apple'
freq ={}
for i in string:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
freq

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
'''37. Remove all punctuation from a string.'''
string = 'ashok@gmail.com'
re.sub(r'[^\w\s]','', string)

'ashokgmailcom'

In [ ]:
'''38. Check if a string contains only digits.'''
string = '1234a'
string.isdigit()

False

In [ ]:
'''39. Check if a string contains only alphabets.'''
string ='abv'
string.isalpha()

True

In [ ]:
'''40. Convert a string to a list of characters.'''
string='ashok'
list(string)

['a', 's', 'h', 'o', 'k']

In [ ]:
'''41. Check if two strings are anagrams.'''
str1 = 'ashok'
str2 = 'sahok'
sorted(str1) == sorted(str2)

True

In [ ]:
'''42. Encode a string using a Caesar cipher.'''

In [ ]:
'''43. Decode a Caesar cipher encoded string.'''

In [ ]:
'''44. Find the most frequent word in a string.'''
string ='apple is the fruit is th'
freq={}
for i in string.split():
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
counts_x = sorted(freq.items(), key=lambda kv: kv[1])
counts_x[-1][0]

'is'

In [ ]:
'''45. Find all unique words in a string.'''
string = 'the plane is the going'
sett = set(string.split())
sett

{'going', 'is', 'plane', 'the'}

In [ ]:
'''46. Count the number of syllables in a string.'''
string ='ashok'

In [ ]:
'''47. Check if a string contains any special characters.'''
string = 'ashok@gmail.com'
special_characters = '''!@#$%^&*()-+?_=,<>/'"'''
any(s in string for s in special_characters)

True

In [ ]:
'''48. Remove the nth word from a string.'''
string = 'ashok'
n=2
st= list(string)
del st[n]
''.join(st)

'asok'

In [ ]:
'''49. Insert a word at the nth position in a string.'''
string ='asok'
n=2
string[:n]+'h'+string[n:]

'ashok'

In [ ]:
'''50. Convert a CSV string to a list of lists.'''
string = 'ashok, chris, sud'
lst = list(string.split(','))
lst

['ashok', ' chris', ' sud']

In [ ]:
### TOPIC #2: List Based Practice Problem :

In [ ]:
'''1. Create a list with integers from 1 to 10.'''
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
'''2. Find the length of a list without using the `len()` function.'''
lst = [i for i in range(1,11)]
def leng(lst):
  n=0
  for _ in lst:
    n+=1
  return n
leng(lst)

10

In [ ]:
'''3. Append an element to the end of a list.'''
lst = [i for i in range(1,11)]
lst.append(12)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [ ]:
'''4. Insert an element at a specific index in a list.'''
lst = [i for i in range(1,11)]
lst.insert(1,12)
lst

[1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
'''5. Remove an element from a list by its value.'''
lst = [i for i in range(1,11)]
lst.remove(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
'''6. Remove an element from a list by its index.'''
lst = [i for i in range(1,11)]
lst.pop(1)
lst

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
'''7. Check if an element exists in a list.'''
lst = [i for i in range(1,11)]
10 in lst

True

In [ ]:
'''8. Find the index of the first occurrence of an element in a list.'''
lst = [i for i in range(1,11)]
lst.append(5)
lst.index(5)

4

In [ ]:
'''9. Count the occurrences of an element in a list.'''
lst = [i for i in range(1,11)]
lst.append(5)
lst.count(5)

2

In [ ]:
'''10. Reverse the order of elements in a list.'''
lst = [i for i in range(1,11)]
lst = lst[::-1]
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
'''11. Sort a list in ascending order.'''
lst = [i for i in range(1,11)]
lst.append(5)
lst.sort()
lst

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
'''12. Sort a list in descending order.'''
lst = [i for i in range(1,11)]
lst.append(5)
lst.sort(reverse=True)
lst

[10, 9, 8, 7, 6, 5, 5, 4, 3, 2, 1]

In [ ]:
'''13. Create a list of even numbers from 1 to 20.'''
lst = [i for i in range(20) if i%2==0]
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
'''14. Create a list of odd numbers from 1 to 20.'''
lst = [i for i in range(20) if i%2!=0]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
'''15. Find the sum of all elements in a list.'''
lst = [i for i in range(1,11)]
sum(lst)

55

In [ ]:
'''16. Find the maximum value in a list.'''
lst = [i for i in range(1,11)]
max(lst)

10

In [ ]:
'''17. Find the minimum value in a list.'''
lst = [i for i in range(1,11)]
min(lst)

1

In [ ]:
'''18. Create a list of squares of numbers from 1 to 10.'''
lst=[i**2 for i in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''19. Create a list of random numbers.'''
import random
lst = [random.randint(1,10) for i in range(10)]
lst

[8, 5, 9, 1, 7, 7, 9, 6, 5, 7]

In [ ]:
'''20. Remove duplicates from a list.'''
lst = [i for i in range(1,11)]
lst.append(5)
lst= set(lst)
lst

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
'''21. Find the common elements between two lists.'''
lst1, lst2=[1,2,5,7,8], [3,4,5,8,9]
cmn = [i for i in lst1 if i in lst2]
cmn

[5, 8]

In [ ]:
'''22. Find the difference between two lists.'''
lst1, lst2=[1,2,5,7,8], [3,4,5,8,9]
cmn = [i for i in lst1 if i in lst2]
lst1.extend(lst2)
diff = [i for i in lst1 if i not in cmn]
diff

[1, 2, 7, 3, 4, 9]

In [ ]:
'''23. Merge two lists.'''
lst1, lst2=[1,2,5,7,8], [3,4,5,8,9]
lst1.extend(lst2)
lst1

[1, 2, 5, 7, 8, 3, 4, 5, 8, 9]

In [ ]:
'''24. Multiply all elements in a list by 2.'''
lst = [i for i in range(1,11)]
lst = [i*2 for i in lst]
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
'''25. Filter out all even numbers from a list.'''
lst = [i for i in range(20)]
lst = [i for i in lst if i%2==0]
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
'''26. Convert a list of strings to a list of integers.'''
lst= ['1','2','3']
lst = [int(i) for i in lst]
lst

[1, 2, 3]

In [ ]:
'''27. Convert a list of integers to a list of strings.'''
lst= [str(i) for i in range(10)]
lst

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
'''28. Flatten a nested list.'''
lst = [1,2,3,[7,8],[4,5]]
new=[]
for s in lst:
  if isinstance(s, list):
    new.extend(s)
  else:
    new.append(s)
new

[1, 2, 3, 7, 8, 4, 5]

In [ ]:
'''29. Create a list of the first 10 Fibonacci numbers.'''
def fib(n):
  lst=[]
  if n<=1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
#0,1,1,2,3,5,8
lst = [fib(i) for i in range(1,10)]
lst

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
'''30. Check if a list is sorted.'''
lst = [1,2,3,4,5,7,7,17,8,9]
for i in range(len(lst)-1):
  if lst[i]<=lst[i+1]:
    continue
  else:
    break
if i==len(lst)-2:
  print("list is sorted")
else:
  print("list is not sorted")

list is not sorted

7

In [ ]:
'''31. Rotate a list to the left by `n` positions.'''
lst = [i for i in range(10)]
def left(lst,n):
  lst= lst[n:] + lst[:n]
  return lst
left(lst,3)

[3, 4, 5, 6, 7, 8, 9, 0, 1, 2]

In [ ]:
'''32. Rotate a list to the right by `n` positions.'''
lst = [i for i in range(10)]
def left(lst,n):
  lst= lst[-n:] + lst[:-n]
  return lst
left(lst,3)

[7, 8, 9, 0, 1, 2, 3, 4, 5, 6]

In [ ]:
'''33. Create a list of prime numbers up to 50.'''
def prime(n):
  l=[2]
  for i in range(3,n):
    p = [i%k for k in l]
    if 0 not in p:
      l.append(i)
  return l
prime(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
'''34. Split a list into chunks of size `n`.'''
lst= [i for i in range(10)]
def div_chunk(lst, k):
  for i in range(0, len(lst), k):
    yield lst[i:i+k]
list(div_chunk(lst, 2))

[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9]]

In [ ]:
'''35. Find the second largest number in a list.'''
lst = [i for i in range(10)]
lst.append(8)
def lar(lst, n):
  k=0
  lst.sort(reverse=True)
  print(lst)
  for i in range(len(lst)-1):
    if lst[i]==lst[i+1]:
      continue
    else:
      k+=1
    if k==n:
      break
  return lst[i]

lar(lst, 3)

[9, 8, 8, 7, 6, 5, 4, 3, 2, 1, 0]

7

In [ ]:
'''36. Replace every element in a list with its square.'''
lst = [i for i in range(10)]
lst= [i*i for i in lst]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
'''37. Convert a list to a dictionary where list elements become keys and their indices become values.'''
lst = [i for i in range(10)]
dd={}
for i in range(len(lst)):
  dd[lst[i]]=i
dd

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [ ]:
'''38. Shuffle the elements of a list randomly.'''
import random
lst = [i for i in range(10)]
random.shuffle(lst)
lst

[2, 9, 6, 8, 7, 0, 5, 3, 4, 1]

In [ ]:
'''39. Create a list of the first 10 factorial numbers.'''
def fact(n):
  if n<=1:
    return 1
  else:
    return n*fact(n-1)
[fact(i) for i in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
'''40. Check if two lists have at least one element in common.'''
lst1, lst2 =[1,2,3,4,5], [6,7,8,8]
def cmn(lst1, lst2):
  cmn=False
  for i in lst1:
    if i in lst2:
      cmn=True
      break
    else:
      continue
  return cmn
cmn(lst1, lst2)

False

In [ ]:
'''41. Remove all elements from a list.'''
lst = [1,2,3]
lst.clear()
lst

[]

In [ ]:
'''42. Replace negative numbers in a list with 0.'''
lst = [-2,-1,4,5]
list(map(lambda x: 0 if x<0 else x, lst))

[0, 0, 4, 5]

In [ ]:
'''43. Convert a string into a list of words.'''
str= 'this is a school'
lst= str.split(' ')
lst

['this', 'is', 'a', 'school']

In [ ]:
'''44. Convert a list of words into a string.'''
lst= ['this', 'is', 'a', 'school']
str= ' '.join(lst)
str

'this is a school'

In [ ]:
'''45. Create a list of the first `n` powers of 2.'''
n= 4
[2**i for i in range(n)]

[1, 2, 4, 8]

In [ ]:
'''46. Find the longest string in a list of strings.'''
lst= ['this', 'is', 'a', 'school']
max(lst, key=len)

'school'

In [ ]:
'''47. Find the shortest string in a list of strings.'''
lst= ['this', 'is', 'a', 'school']
min(lst, key=len)

'a'

In [ ]:
'''48. Create a list of the first `n` triangular numbers.'''

In [ ]:
'''49. Check if a list contains another list as a subsequence.'''
lst1= [1,2,3,4,5,6,7,8]
lst2= [3,4]
set(lst2).issubset(set(lst1))

True

In [ ]:
'''50. Swap two elements in a list by their indices.'''

[1, 2, 3]

In [ ]:
### Tuple Based Practice Problem :

In [ ]:
'''1. Create a tuple with integers from 1 to 5.'''
tpl = (i for i in range(1,6))
tuple(tpl)

(1, 2, 3, 4, 5)

In [ ]:
'''2. Access the third element of a tuple.'''
tpl = (1,2,3,4,5)
tpl[2]

3

In [ ]:
'''3. Find the length of a tuple without using the `len()` function.'''
tpl = (1,2,3,4,5)
def leng(tpl):
  len=0
  for i in tpl:
    len+=1
  return len
leng((1,2,3,4))

4

In [ ]:
'''4. Count the occurrences of an element in a tuple.'''
tpl = (1,2,2,4,5)
def occ(ele, tpl):
  occ=0
  for i in tpl:
    if ele==i:
      occ+=1
  return occ
occ(5, tpl)

1

In [ ]:
'''5. Find the index of the first occurrence of an element in a tuple.'''
tpl= (1,2,4,2,5,6)
tpl.index(2)
# tpl.count(2)

2

In [ ]:
'''6. Check if an element exists in a tuple.'''
tpl=(1,2,3,5,6,7)
tpl.count(4)

0

In [ ]:
'''7. Convert a tuple to a list.'''
tpl=(1,2,3,5,6,7)
lst = list(tpl)
print(lst)
type(lst)

[1, 2, 3, 5, 6, 7]

list

In [ ]:
'''8. Convert a list to a tuple.'''
lst=[1,2,3,4,5,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 5)

In [ ]:
'''9. Unpack the elements of a tuple into variables.'''
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
'''10. Create a tuple of even numbers from 1 to 10.'''
tpl = (i for i in range(1,11) if i%2==0)
tuple(tpl)

(2, 4, 6, 8, 10)

In [ ]:
'''11. Create a tuple of odd numbers from 1 to 10.'''
tpl = (i for i in range(1,11) if i%2!=0)
tuple(tpl)

(1, 3, 5, 7, 9)

In [ ]:
'''12. Concatenate two tuples.'''
tpl1, tpl2 = (1,2,3), (2,3,4)
tpl1+tpl2

(1, 2, 3, 2, 3, 4)

In [ ]:
'''13. Repeat a tuple three times.'''
tpl=(1,2,3,4,4)
tpl*3

(1, 2, 3, 4, 4, 1, 2, 3, 4, 4, 1, 2, 3, 4, 4)

In [ ]:
'''14. Check if a tuple is empty.'''
tpl=()
len(tpl)

0

In [ ]:
'''15. Create a nested tuple.'''
tpl=(1,2,3,4)
ttpl=(1,2, tpl)
ttpl

(1, 2, (1, 2, 3, 4))

In [ ]:
'''16. Access the first element of a nested tuple.'''
tpl=(1,2,3,4)
ttpl=(1,2, tpl)
ttpl[2][0]

1

In [ ]:
'''17. Create a tuple with a single element.'''
tpl= (1,)
tpl

(1,)

In [ ]:
'''18. Compare two tuples.'''
tpl1, tpl2= (1,2,3),(2,3,4)
tpl1==tpl2

False

In [ ]:
'''19. Delete a tuple.'''
tpl=(1,3)
del tpl
#tpl

In [ ]:
'''20. Slice a tuple.'''
tpl=(1,2,3,45)
tpl[2:]

(3, 45)

In [ ]:
'''21. Find the maximum value in a tuple.'''
tpl=(1,2,3,4,5,6,5)
max(tpl)

6

In [ ]:
'''22. Find the minimum value in a tuple.'''
tpl=(1,2,3,4,5,6,5)
min(tpl)

1

In [ ]:
'''23. Convert a string to a tuple of characters.'''
str='ashok'
tpl = (i for i in str)
tuple(tpl)

('a', 's', 'h', 'o', 'k')

In [ ]:
'''24. Convert a tuple of characters to a string.'''
tpl=('a', 's', 'h', 'o', 'k')
''.join(tpl)

'ashok'

In [ ]:
'''25. Create a tuple from multiple data types.'''
tpl=(1,2,'aa','bb',4)
tpl

(1, 2, 'aa', 'bb', 4)

In [ ]:
'''26. Check if two tuples are identical.'''
tpl1, tpl2 = (1,2,3), (1,2,3)
tpl==tpl2

False

In [ ]:
'''27. Sort the elements of a tuple.'''
tpl = (1,3,4,5,2)
# use bubble sort
lst= list(tpl)
n=len(lst)
for i in range(n):
  for j in range(0,n-1-i):
    if lst[j]>lst[j+1]:
      lst[j], lst[j+1] = lst[j+1], lst[j]

lst

[1, 2, 3, 4, 5]

In [ ]:
'''28. Convert a tuple of integers to a tuple of strings.'''
tpl= (1,2,3,4,5,6,4)
tpl = (str(s) for s in tpl)
tuple(tpl)

('1', '2', '3', '4', '5', '6', '4')

In [ ]:
'''29. Convert a tuple of strings to a tuple of integers.'''
tpl= ('1', '2', '3', '4', '5', '6', '4')
tpl = (int(s) for s in tpl)
tuple(tpl)

(1, 2, 3, 4, 5, 6, 4)

In [ ]:
'''30. Merge two tuples.'''
tpl1, tpl2=(1,2,3), (2,3,4)
tpl1+tpl2

(1, 2, 3, 2, 3, 4)

In [ ]:
'''31. Flatten a nested tuple.'''
tpl = (1,2,3,(2,3),4)
def flat(tpl):
  lst=[]
  for i in tpl:
    if isinstance(i,tuple):
      for j in i:
        lst.append(j)
    else:
      lst.append(i)
  return tuple(lst)
flat(tpl)

(1, 2, 3, 2, 3, 4)

In [ ]:
'''32. Create a tuple of the first 5 prime numbers.'''
def is_prime(num):
  if num<=2:
    return False
  for i in range(2,n):
    if num%i==0:
      return False
    i+=1
  return True

def prime(n):
  prime=[]
  num=2
  while len(prime)<n:
    if is_prime(num):
      prime.append(num)
    num+=1
  return prime

prime(10)

[5, 7, 11, 13, 17, 19, 23, 25, 29, 31]

In [ ]:
'''33. Check if a tuple is a palindrome.'''
tpl = (1,2,3,4,3,2,1,2)
def palindrome(tpl):
  for i in range(int(len(tpl)/2)):
    if tpl[i]!=tpl[-i-1]:
      return False
  return True

palindrome(tpl)

False

In [ ]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''
tpl = (x*x for x in range(1,6))
tuple(tpl)

(1, 4, 9, 16, 25)

In [ ]:
'''35. Filter out all even numbers from a tuple.'''
tpl = (1,2,3,4,5,6)
tpl = (x for x in tpl if x%2==1)
tuple(tpl)

(1, 3, 5)

In [ ]:
'''36. Multiply all elements in a tuple by 2.'''
tpl = (1,2,3,4,5)
tpl = (x*2 for x in tpl)
tuple(tpl)

(2, 4, 6, 8, 10)

In [ ]:
'''37. Create a tuple of random numbers.'''
import random
def rand(n):
  rand=[]
  for i in range(n):
    rand.append(random.randint(5,100))
  return rand

rand(5)

[63, 52, 56, 36, 99]

In [ ]:
'''38. Check if a tuple is sorted.'''
tpl= (1,2,3,6,7)
tpl==sorted(tpl)

False

In [ ]:
'''39. Rotate a tuple to the left by `n` positions.'''
tpl = (1,2,3,4,5,6)
def left(tpl,n):
  return tpl[-n:]+tpl[:-n]
left(tpl,1)

(6, 1, 2, 3, 4, 5)

In [ ]:
'''40. Rotate a tuple to the right by `n` positions.'''
tpl = (1,2,3,4,5,6)
def right(tpl,n):
  return tpl[:-n]+tpl[-n:]
right(tpl,2)

(1, 2, 3, 4, 5, 6)

In [ ]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''
def fib(n):
  if n<=2:
    return 1
  else:
    return fib(n-1)+fib(n-2)

for i in range(5):
  print(fib(i))

1
1
2
3
5

In [ ]:
'''42. Create a tuple from user input.'''
def create_tuple():
  lst =[]
  while True:
    try:
      i= input("Enter number (done for closing)")
      if i.lower()=="done":
        break
      i=int(i)
      lst.append(i)
    except:
      i= input("Enter correct input")
  return tuple(lst)
create_tuple()

Enter number (done for closing)1
Enter number (done for closing)4
Enter number (done for closing)done

(1, 4)

In [ ]:
'''43. Swap two elements in a tuple.'''
tpl= (1,2,3)
lst= list(tpl)
lst[1], lst[2] = lst[2], lst[1]
tuple(lst)

(1, 3, 2)

In [ ]:
'''44. Reverse the elements of a tuple.'''
tpl= (1,2,3)
tuple(list(tpl)[::-1])

(3, 2, 1)

In [ ]:
'''45. Create a tuple of the first `n` powers of 2.'''
def pow2tpl(n):
  lst=[]
  for i in range(n):
    lst.append(2**i)
  return lst
pow2tpl(5)

[1, 2, 4, 8, 16]

In [ ]:
'''46. Find the longest string in a tuple of strings.'''
tpl=('as', 'fb', 'raf', 't', 'test')
def largetpl(tpl):
  for i in range(len(tpl)-1):
    if len(tpl[i])<len(tpl[i+1]):
      lar = tpl[i+1]
    else:
      lar = tpl[i]
  return lar
largetpl(tpl)

'test'

In [ ]:
'''47. Find the shortest string in a tuple of strings.'''
tpl=('as', 'fb', 'raf', 't', 'test')
def smaltpl(tpl):
  for i in range(len(tpl)-1):
    if len(tpl[i])<len(tpl[i+1]):
      lar = tpl[i]
    else:
      lar = tpl[i+1]
  return lar
smaltpl(tpl)

't'

In [ ]:
'''48. Create a tuple of the first `n` triangular numbers.'''

In [ ]:
'''49. Check if a tuple contains another tuple as a subsequence.'''
def containsub(main_tpl, sub_tpl):
  if len(sub_tpl)>len(main_tpl):
    return False
  else:
    for i in range(len(main_tpl)-len(sub_tpl)+1):
      if main_tpl[i:i+len(sub_tpl)]==sub_tpl:
        return True
    return False

containsub((1,2,3,4,5), (2,3))

True

In [ ]:
'''50. Create a tuple of alternating 1s and 0s of length `n`.'''
n=10
tuple([x%2 for x in range(n)])

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
### Set Based Practice Problem :

In [ ]:
'''1. Create a set with integers from 1 to 5.'''
st= set([x for x in range(1,6)])
st

{1, 2, 3, 4, 5}

In [ ]:
'''2. Add an element to a set.'''
st= set([x for x in range(1,6)])
st.add(7)
st

{1, 2, 3, 4, 5, 7}

In [ ]:
'''3. Remove an element from a set.'''
st= set([x for x in range(1,6)])
st.remove(4)
st

{1, 2, 3, 5}

In [ ]:
'''4. Check if an element exists in a set.'''
st= set([x for x in range(1,6)])
4 in st

True

In [ ]:
'''5. Find the length of a set without using the `len()` function.'''
st= set([x for x in range(1,6)])
ln=0
for _ in st:
  ln+=1
ln

5

In [ ]:
'''6. Clear all elements from a set.'''
st= set([x for x in range(1,6)])
st.clear()
st

set()

In [ ]:
'''7. Create a set of even numbers from 1 to 10.'''
st= set([x for x in range(1,11) if x%2==0])
st

{2, 4, 6, 8, 10}

In [ ]:
'''8. Create a set of odd numbers from 1 to 10.'''
st= set([x for x in range(1,11) if x%2==1])
st

{1, 3, 5, 7, 9}

In [ ]:
'''9. Find the union of two sets.'''
st1, st2 ={1,2,3,4}, {3,4,5}
st1.union(st2)

{1, 2, 3, 4, 5}

In [ ]:
'''10. Find the intersection of two sets.'''
st1, st2 ={1,2,3,4}, {3,4,5}
st1.intersection(st2)

{3, 4}

In [ ]:
'''11. Find the difference between two sets.'''
st1, st2 ={1,2,3,4}, {3,4,5}
st1.difference(st2)

{1, 2}

In [ ]:
'''12. Check if a set is a subset of another set.'''
st1, st2 ={1,2,3,4}, {3,4}
st1.union(st2)==st1

True

In [ ]:
'''13. Check if a set is a superset of another set.'''
st1, st2 ={1,2,3,4}, {3,4}
st1.union(st2)==st1

True

In [ ]:
'''14. Create a set from a list.'''
lst=[1,2,4,4,6,5]
st=set(lst)
st

{1, 2, 4, 5, 6}

In [ ]:
'''15. Convert a set to a list.'''
st= {1,2,3,4}
lst=list(st)
lst

[1, 2, 3, 4]

In [ ]:
'''16. Remove a random element from a set.'''
import random
st= {0,1,2,3,4}
n=random.randint(0,len(st)-1)
st= list(st)
st.pop(n)
set(st)

{0, 1, 2, 3}

In [ ]:
'''17. Pop an element from a set.'''
st= {1,2,3}
st.pop()

1

In [ ]:
'''18. Check if two sets have no elements in common.'''
st1, st2 = {1,2,4,5}, {6,7,1,8}
st1.intersection(st2)

{1}

In [ ]:
'''19. Find the symmetric difference between two sets.'''
st1, st2 = {1,2,4,5}, {6,7,1,8}
st1.difference(st2)

{2, 4, 5}

In [ ]:
'''20. Update a set with elements from another set.'''
st1, st2 = {1,2,4,5}, {6,7,1,8}
st1.union(st2)

{1, 2, 4, 5, 6, 7, 8}

In [ ]:
'''21. Create a set of the first 5 prime numbers.'''
def prime(n):
  if n<2:
    return False
  elif n==2:
    return True
  else:
    for i in range(2, int(n/2)+1):
      if n%i==0:
        return False
      else:
        pass
  return True

def n_prime(n):
  i=2
  lst=[]
  while len(lst)<n:
    if prime(i):
      lst.append(i)
    else:
      pass
    i+=1
  return lst

n_prime(5)

[2, 3, 5, 7, 11]

In [ ]:
'''22. Check if two sets are identical.'''
st1, st2={1,2,3,4}, {1,2,3,4}
st1==st2

True

In [ ]:
'''23. Create a frozen set.'''
st={1,2,4,5}
frozen_st= frozenset(st)
frozen_st

frozenset({1, 2, 4, 5})

In [ ]:
'''24. Check if a set is disjoint with another set.'''
st1, st2={1,2,3,4}, {1,2,3,4}
st1.isdisjoint(st2)

False

In [ ]:
'''25. Create a set of squares of numbers from 1 to 5.'''
lst= [x**2 for x in range(1,6)]
set(lst)

{1, 4, 9, 16, 25}

In [ ]:
'''26. Filter out all even numbers from a set.'''
st= {1,2,3,4,5,6}
st =[x for x in st if x%2==1]
set(st)

{1, 3, 5}

In [ ]:
'''27. Multiply all elements in a set by 2.'''
st= {1,2,3,45}
st= [x*2 for x in st]
set(st)

{2, 4, 6, 90}

In [ ]:
'''28. Create a set of random numbers.'''
rand_num=8
lst = [random.randint(1,rand_num) for x in range(0,random.randint(1,rand_num))]
set(lst)

{2, 3, 4, 5, 6, 8}

In [ ]:
'''29. Check if a set is empty.'''
st={1,2,3,4}
len(st)

4

In [ ]:
'''30. Create a nested set (hint: use frozenset).'''
st={1,2,3}
fr_st = frozenset(st)

In [ ]:
'''31. Remove an element from a set using the discard method.'''
st= {1,2,3,4}
st.discard(2)
st

{1, 3, 4}

In [ ]:
'''32. Compare two sets.'''
st1,st2 = {1,2,3}, {2,3,4}
st1==st2

False

In [ ]:
'''33. Create a set from a string.'''
strin = 'abacd'
st = [x for x in strin]
set(st)

{'a', 'b', 'c', 'd'}

In [ ]:
'''34. Convert a set of strings to a set of integers.'''
st = {'1','2','3'}
stint = {int(x) for x in st}
stint

{1, 2, 3}

In [ ]:
'''35. Convert a set of integers to a set of strings.'''
st= {1,2,3}
stchar = {str(x) for x in st}
stchar

{'1', '2', '3'}

In [ ]:
'''36. Create a set from a tuple.'''
tp= (1,2,3)
st= set(tp)
st

{1, 2, 3}

In [ ]:
'''37. Convert a set to a tuple.'''
st= {1,2,3}
tuple(st)

(1, 2, 3)

In [ ]:
'''38. Find the maximum value in a set.'''
st= {1,2,5,3}
max(st)

5

In [ ]:
'''39. Find the minimum value in a set.'''
st= {2,4,1}
min(st)

1

In [ ]:
'''40. Create a set from user input.'''
inp = input("Enter value for set ")
st=set()
while inp != 'Done':
  st.add(inp)
  inp = input("Enter value for set ")
print("set is", st)

Enter value for set1
Enter value for set2
Enter value for set4
Enter value for setDone
set is {'4', '2', '1'}

In [ ]:
'''41. Check if the intersection of two sets is empty.'''
st1, st2 = {1,2,3}, {5,6}
len(st1.intersection(st2))

0

In [ ]:
'''42. Create a set of the first 5 Fibonacci numbers.'''
def fib(n):
  if n <=2:
    return 1
  else:
    return fib(n-1)+fib(n-2)

for i in range(1,6):
  print(fib(i))

1
1
2
3
5

In [ ]:
'''43. Remove duplicates from a list using sets.'''
lst= [1,2,4,3,4,2]
set(lst)

{1, 2, 3, 4}

In [ ]:
'''44. Check if two sets have the same elements, regardless of their count.'''

In [ ]:
'''45. Create a set of the first `n` powers of 2.'''
n=4
st= {2**i for i in range(1,n+1)}
st

{2, 4, 8, 16}

In [ ]:
'''46. Find the common elements between a set and a list.'''
lst= [1,2,3]
st={4,5,2}
st.intersection(set(lst))

{2}

In [ ]:
'''47. Create a set of the first `n` triangular numbers.'''

In [ ]:
'''48. Check if a set contains another set as a subset.'''
st1, st2 = {1,2,3,4,5}, {2,3}
st1.intersection(st2) == st2 or st1.intersection(st2) == st1

True

In [ ]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''
st = {x%2 for x in range(10) }
st

{0, 1}

In [ ]:
'''50. Merge multiple sets into one.'''
st1, st2 = {1,2,3,4}, {3,4,5,6}
st.union(st2)

{0, 1, 3, 4, 5, 6}