<a href="https://colab.research.google.com/github/ashokgupta1810/fsdspro/blob/main/3rd_Sep_Assignment_Python_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Basic level

In [5]:
'''1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.'''
for i in range(1,11):
  print(i, end='')

12345678910

In [3]:
'''2. Create a program that calculates the sum of all numbers in a list using a `for` loop.'''
lst= [1,2,3,5]
s=0
for i in lst:
  s=s+i
s

11

In [8]:
'''3. Write a program to print the characters of a string in reverse order using a `for` loop.'''
strn = 'abcde'
for i in reversed(strn):
  print(i, end='')

edcba

In [10]:
'''4. Develop a program that finds the factorial of a given number using a `for` loop.'''
def fact(n):
  fct=1
  for i in range(2,n+1):
    fct=fct*i
  return fct
fact(8)

40320

In [12]:
'''5. Create a program to print the multiplication table of a given number using a `for` loop.'''
def table(n):
  for i in range(1,11):
    print(f"{n}*{i}={n*i}")
table(6)

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [13]:
'''6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.'''
lst=[1,2,3,4,5,5,6]
odd_cnt, even_cnt=0,0
for i in lst:
  if i%2==0:
    even_cnt+=1
  else:
    odd_cnt+=1
print(f"Odd Count: {odd_cnt}, Even Count: {even_cnt}")

Odd Count: 4, Even Count: 3

In [14]:
'''7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.'''
for i in range(1,6):
  print(i*i)

1
4
9
16
25

In [15]:
'''8. Create a program to find the length of a string without using the `len()` function.'''
strn='abcde'
str_len=0
for s in strn:
  str_len+=1
str_len

5

In [17]:
'''9. Write a program that calculates the average of a list of numbers using a `for` loop.'''
lst=[1,2,3,4,5,6]
sum, len=0,0
for i in lst:
  sum+=i
  len+=1
sum/len

3.5

In [19]:
'''10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.'''
def fib(n):
  if n<=2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
for i in range(1,5):
  print(fib(i))

1
1
2
3

In [ ]:
### Intermediate Level:

In [23]:
'''11. Write a program to check if a given list contains any duplicates using a `for` loop.'''
lst = [1,2,3,4,5,5,7]
newlist=[]
dct={}
for i in lst:
  if i in newlist:
    dct[i]+=1
  else:
    dct[i]=1
  newlist.append(i)
dct

{1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 7: 1}

In [25]:
'''12. Create a program that prints the prime numbers in a given range using a `for` loop.'''
def is_prime(n):
  for i in range(2, int(n**0.5)+1):
    if n%i==0:
      return False
  return True

for i in range(2,15):
  if is_prime(i):
    print(i)

2
3
5
7
11
13

In [26]:
'''13. Develop a program that counts the number of vowels in a string using a `for` loop.'''
strn='ashok'
vow=0
for s in strn:
  if s in 'aeiou':
    vow+=1
vow

2

In [30]:
'''14. Write a program to find the maximum element in a 2D list using a nested `for` loop.'''
lst=[[1,2,3],[4,5,6],[5,6,1]]

for l in lst:
  for i in l:
    if 'max' in locals():
      if max<i:
        max=i
    else:
      max=i
max

6

In [41]:
'''15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.'''
lst= [1,2,3,3,3,4,5,5,6]
newlist=[]
spec = 5
for i in lst:
  if i!=spec:
    newlist.append(i)
newlist

[1, 2, 3, 3, 3, 4, 6]

In [45]:
'''16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.'''
for i in range(1,6):
  print(f"Table for {i}")
  for j in range(1,11):
    print(i*j, end=' ')
  print()

Table for 1
1 2 3 4 5 6 7 8 9 10
Table for 2
2 4 6 8 10 12 14 16 18 20
Table for 3
3 6 9 12 15 18 21 24 27 30
Table for 4
4 8 12 16 20 24 28 32 36 40
Table for 5
5 10 15 20 25 30 35 40 45 50

In [46]:
'''17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.'''
far_lst= [100,160]
cel_lst=[]
for i in far_lst:
  cel= (i-32)*5/9
  cel_lst.append(cel)
cel_lst

[37.77777777777778, 71.11111111111111]

In [47]:
'''18. Create a program to print the common elements from two lists using a `for` loop.'''
lst1, lst2=[1,2,3,4,5], [3,4,6,7,8]
for i in lst1:
  for j in lst2:
    if i==j:
      print(i)

3
4

In [50]:
'''19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern'''
for i in range(1,10):
  for j in range(1,i+1):
    print('*', end ='')
  print()

*
**
***
****
*****
******
*******
********
*********

In [3]:
'''20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.'''
a,b=200,75
for i in range(1, min(a,b)):
  if (a%i==0 and b%i==0):
    res = i
  else:
    pass

res

25

In [ ]:
### Advanced Level

In [2]:
'''21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.'''
lst=[1,2,3,4,5,5]
j=0
sum = sum([i for i in lst])
sum

20

In [18]:
'''22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.'''
def prime_factor(n):
  lst=[]
  for i in range(2,int(n/2)):
    while n%i==0:
      #print("while", i)
      n=n/i
      lst.append(i)
    if len(lst)==0:
      lst= [n]
  return set(lst)
prime_factor(71)

{71}

In [20]:
'''23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.'''
lst= [1,2,3,4,5,5,6,4]
lst2 = [x for i,x in enumerate(lst) if x not in lst[:i]]
lst2

[1, 2, 3, 4, 5, 6]

In [9]:
'''24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.'''
n=200
lst =[i for i in range(n) if str(i)==''.join(list(reversed(str(i))))]
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191]

In [11]:
'''25. Write a program to flatten a nested list using list comprehension.'''
lst=[[1,2,3],[1,2],[5]]
lst1 = [ele for sublist in lst for ele in sublist]
lst1

[1, 2, 3, 1, 2, 5]

In [12]:
'''26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.'''
lst=[1,2,3,4,5,6]
even_sum = sum([i for i in lst if i%2==0])
odd_sum = sum([i for i in lst if i%2==1])
print(f"Even Sum: {even_sum} and Odd Sum: {odd_sum}")

Even Sum: 12 and Odd Sum: 9

In [13]:
'''27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.'''
lst=[1,2,3,4,5,6,7]
lst2=[i**2 for i in range(1,11) if i%2==1]
lst2

[1, 9, 25, 49, 81]

In [19]:
'''28. Write a program that combines two lists into a dictionary using list comprehension.'''
lst1=[1,2,3,4,5]
lst2=[5,6,7,8,9]

In [21]:
'''29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.'''
strin = 'ashok'
lst = [i for i in strin if i not in 'aeiou']
''.join(lst)

'shk'

In [24]:
'''30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.'''
strin = '123India1'
lst = [i for i in strin if i not in '0123456789']
''.join(lst)

'India'

In [ ]:
### Challenge Level:

In [ ]:
'''31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.'''

In [ ]:
'''32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.'''

In [25]:
'''33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.'''
lst1=[1,2,3]
lst2=[4,5,6]
comb =[ (x,y) for x in lst1 for y in lst2]
comb

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [1]:
'''34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.'''
lst = [1,2,3,4,5,6,1,7,7,7,8]

mean = sum(lst)/len(lst)
print(f"Mean: {mean}")
lst= sorted(lst)
if len(lst)%2==0:
  median = (lst[(len(lst)/2)]+lst[(len(lst)/2)+1])/2
else:
  median = lst[(int(len(lst)/2))]
print(f"Median: {median}")

dct={}
for i in lst:
  if i in dct:
    dct[i]+=1
  else:
    dct[i]=1
mode= max(dct, key=dct.get)
print(f"Mode: {mode}")

Mean: 4.636363636363637
Median: 5
Mode: 7

In [2]:
'''35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.'''

"35. Create a program that generates Pascal's triangle up to a specified number of rows using list\ncomprehension."

In [12]:
'''36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.'''
ret=''
for i in range(1,6):
  fact=1
  for j in range(1,i+1):
    fact = fact*j
  ret = ret + str(fact)
ret
sum([int(i) for i in ret])

18

In [16]:
'''37. Write a program that finds the longest word in a sentence using list comprehension.'''
lst= ['as', 'asf','aaadfdfd', 'aab']
max(lst, key=lambda x: len(x))

'aaadfdfd'

In [24]:
'''38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.'''
lst = ['aabe', 'aaaagdsdf', 'avc']
def count_vowel(str):
  return sum([1 for char in str if char in 'aeiou'])
lst2 = [s for s in lst if count_vowel(s)>3]
lst2

['aaaagdsdf']

In [30]:
'''39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.'''
lst = ([str(i) for i in range(1,1001)])
strn = ''.join(lst)
sum([int(i) for i in strn])

13501

In [38]:
'''40. Write a program that generates a list of prime palindromic numbers using list comprehension.'''
def is_prime(n):
  if n<=1:
    return False
  else:
    for i in range(2, int(n/2)+1):
      if n%i==0:
        return False
  return True

def is_palindrome(n):
  n=str(n)
  for i in range(int(len(n)/2)+1):
    if n[i]==n[-i-1]:
      pass
    else:
      return False
  return True

lst=[]
i=1
while len(lst)<=10:
  if is_palindrome(i) and is_prime(i):
    lst.append(i)
  i+=1
lst

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313]